
<div ng-controller='RecoverController as ctrl' ng-cloak>

<div class="row" ng-if='!ctrl.token && !ctrl.invalid_token'>
<div class="col-xs-4 col-xs-offset-4">

<div class='panel panel-info'>

<div class='panel panel-heading'>
  <h4 class='panel-title'>Recover your password</h4>
</div>

<form name="myForm">
<div class='panel panel-body'>

  <div class="form-group">
    <label for="icon_prefix">
      <i class="material-icons prefix">email</i> Your e-mail address
    </label>
    
    <input ng-model="ctrl.recover_email"
      id="email" name="email"
      id="icon_prefix" type="email" class="form-control"
      required autofocus>
    
  </div>

</div>

<div class='panel panel-footer text-right'  style='margin-bottom:0px;'>
  <button ng-click='ctrl.request()' type="submit" class="btn btn-success" >
    Submit request
  </button>
</div>

</form>

</div>
</div>
</div>


<div class="row text-center" ng-if='ctrl.invalid_token'>
<br><br>
<div class="col-xs-6 col-xs-offset-3">

<div class='panel panel-danger'>

<div class='panel panel-heading'>
  <h4 class='panel-title'>Invalid request</h4>
</div>

  <div class='panel panel-body'>
    {{ctrl.invalid_token}}
  </div>

</div>
</div>
</div>


<div class="row" ng-if='ctrl.token'>
<div class="col-xs-4 col-xs-offset-4">

<div class='panel panel-info'>

<div class='panel panel-heading'>
  <h4 class='panel-title'>Not yet implemented</h4>
</div>

<div class='panel panel-body'>

  - create a tmp pwd and send it by email?
  <br>
  - or let the user to insert a new pwd?

</div>


</div>
</div>
</div>



</div>
